node_modules
dist
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.env
.env.*
.env.prod
.env.local
dev.db
prisma/dev.db
server/logs/
uploads/
*.log
tools/
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.node.json
!composer.json